[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.1.1"
flask = "*"
gunicorn = "*"
mlflow = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.10"
